body{
	background-image: url(../images/fon.jpg);
	background-size: cover;
	background-attachment: fixed;
}

footer{
	height: 100px;
	width: 100%;
	font-size: 15px;
	text-align: center;
	color: white;
	cursor: default;
	margin: 150px 0 0 0;
	padding: 20px;
	background: rgba(0, 0, 0, 0.8);
}
