.info{
	background-color: rgb(255,255,255);
}

img#startPageHeader{
	width: 100%;
	border-radius: 20px;
}

img#arrowLeft, img#arrowRight{
	position: absolute;
	height: 20%;
	top: 50%;
	transform: translate(0, -50%);
	cursor: pointer;
}

img#arrowLeft{
	left: 5%;
}

img#arrowRight{
	right: 5%;
}

#slider img{
	position: absolute;
	left: 50%;
	top: 50%;
	height: 80%;
	border-radius: 10px;
	transform: translate(-50%, -50%);
	transition: opacity .5s ease-out;
}

button{
	height: 50px;
	width: 250px;
	font-size: 20px;
	margin: 10px 0 0 0;
	border-radius: 20px;
	position: relative;
	left:50%;
	transform: translate(-50%, 0);
	cursor: pointer;
}

button#signIn{
	background-color: rgb(0,42,255);
	border-width:0px;
	color: rgb(255,255,255);
}

button#signUp{
	background-color: rgb(255,255,255);
	border-width: 2px;
	border-style: solid;
	border-color: rgb(0,42,255);
	font-size: 15px;
}






